# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
#
# @see https://github.com/rolodato/dotenv-safe
# ------------------------------------------------------------------------------

GCLOUD_PROJECT=
GOOGLE_APPLICATION_CREDENTIALS=

APP_NAME=
REVISION=

MONGODB_PASSWORD=

JWT_SECRET=

DEVELOPMENT_PROVIDER_GITHUB_CLIENT_ID=
PRODUCTION_PROVIDER_GITHUB_CLIENT_ID=
DEVELOPMENT_PROVIDER_GITHUB_CLIENT_SECRET=
PRODUCTION_PROVIDER_GITHUB_CLIENT_SECRET=
